@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;700&display=swap');
@import '../icons/style.css';

header {
  background-image: url(../images/banner_background.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
}
nav {
  background-color: black;
  display: flex;
  height: 70px;
  padding: 20px 0px;
  align-items: center;
}
nav .logo {
  display: block;
  margin-left: 146px;
  margin-right: auto;
}
nav ul {
  display: flex;
}
nav ul li * {
  margin-right: 46px;
}
nav ul li a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

footer .container {
  max-width: 1200px;
  height: 100vh;
  width: 75%;
  display: flex;
  margin-top: 30px;
}
footer .text {
  margin-left: 146px;
  display: block;
  margin-right: auto;
}
footer .text h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: black;
}
footer .text p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #a4a5a8;
}
footer .logos ul {
  display: flex;
}
footer .logos ul li a {
  font-size: 44px;
  color: #cccccc;
}
header {
  padding-top: 100px;
}
header section {
  width: 517px;
  margin-right: auto;
  margin-left: 146px;
  padding-top: 35px;
}
header img {
  display: block;
  margin-left: 146px;
}
header section h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: white;
  margin-bottom: 42px;
  text-transform: uppercase;
}
header p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  margin-top: 42px;
  color: #76777a;
  margin-bottom: 66px;
}
header a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 13px 30px;
  border: 2px solid #fff;
}
